h1{
    color: purple;
}

.square{
    background-color: greenyellow;
    border: 1px solid gray;
    margin: 1px;
    width: 40px;
    height: 40px;
}
.color {
    background: #9bc850;
}
.piesa {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid darkgray;
    margin: 4px;
}

.player1{
    background-color: white;
}
.player-1{
    background-color: #484848;
}

#notifications {
    display: inline-block;
    width: 200px;
    border: 2px solid dodgerblue;
    padding: 5px;
}

#mainBoard {
    display: inline-block;
}